
// body {
//   background-color: $colorTertiary;
// }

//header
header {
  padding: 1rem 0;
  @include gradientNavy;
  box-shadow: 0 0 1rem black;
}

header,
footer {
  min-height:12.5vh;
}

.siteHead {
  display:flex;
  align-items: center;
  justify-content: center;
}


.logo {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right:50px;
}


//form

fieldset {
  border:none;
}

h1 {
  font-weight: 800;
}

.userSearch {
  display:flex;
  justify-content: space-between;
}

.userSearch{
  min-height:75vh;
  @include gradientWhite
}

section:nth-child(2),
section:nth-child(3){
  @include gradientNavy
}

.refineGallery,
.resultGallery {
  padding:50px 0;
}


.trendingFilms {
  min-height:75vh;
}

.searchForm {
  flex:1 2 45%;
  padding:50px 15px;
}

.trending {
  flex:2 1 55%;
  .resultGallery {
    display:flex;
  }
  .resultContainer {
    width:calc(55% - 30px)
  }
}

.searchForm {
  span {
    font-style:italic;
    font-weight:700;
  }
  align-self:center;
}

.trendingFilms {
  background:url(../assets/curtain.png)
}


.refineGallery {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 0 -15px;
  .refineContainer {
    flex:1 1 30%;
    min-width: 340px;
    margin:15px;

  }
}

.refineContainer,
.resultGallery {
  button {
    @include buttonStyle;
    width:100%;
  }
}

.resultGallery {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin:0 -15px;
  .resultContainer {
    position: relative;
    flex:1 1 30%;
    min-width: 340px;
    margin:15px;
    .resultOverlay,
    img {
      border-radius:15px;
    }
  }
}


.resultOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display:flex;
  flex-flow:column wrap;
  background-color: rgba(0, 0, 0, 0.75);	
  justify-content: space-between;
  opacity: 0;
  color: $colorWhite;
  padding:1rem;
}

.resultContainer:hover .resultOverlay,
.resultContainer:focus-within .resultOverlay {
  opacity: 1;
}

.resultContainer:hover,
.resultContainer:focus-within {
  img {
    filter:blur(5px)
  }
}


footer {
  text-align: center;
  padding: .5rem 0;
  background-color: $colorMain;
  }
  footer p,
  footer a {
    color: $colorWhite;
  }
  

//responsive design for small desktop screens
@media (max-width: 940px) {

}

//responsive design for tablets
@media (max-width: 768px) {

}

//responsive design for phones
@media (max-width: 480px) {

  .refineGallery {
    .refineContainer {
      min-width: 300px;
    }
  }

  .resultGallery {

    .resultContainer {
      min-width: 300px;
    }
  }


}