html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: "Epilogue", sans-serif;
  font-size: 125%;
  /* setting font-size default to 20px*/
  line-height: 1.5;
}

header,
body,
h1,
h2,
h3,
h4,
form,
ul,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p,
label,
input,
select,
button {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

nav .title {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}

h1 {
  color: #90cea1;
  text-shadow: #0d253f 2px 5px;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: #000000 2px 5px;
}

h4 {
  padding: 50px 0;
  text-align: center;
  font-family: "Epilogue", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

p {
  font-size: 0.8rem;
}

.resultOverlay h3 {
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-weight: 700;
}
.resultOverlay h3:hover,
.resultOverlay h3:focus {
  color: #01b4e4;
}
.resultOverlay button {
  color: #ffffff;
  font-weight: 700;
}
.resultOverlay button:active {
  background: #01b4e4;
}
.resultOverlay p {
  font-size: 0.8em;
}

.queryResult h4 {
  color: #000000;
}

header {
  padding: 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0d253f), color-stop(10%, #01b4e4), color-stop(15%, #90cea1), color-stop(20%, #0d253f), color-stop(80%, #0d253f), color-stop(85%, #90cea1), color-stop(90%, #01b4e4), to(#0d253f));
  background: linear-gradient(180deg, #0d253f 5%, #01b4e4 10%, #90cea1 15%, #0d253f 20%, #0d253f 80%, #90cea1 85%, #01b4e4 90%, #0d253f 100%);
  -webkit-box-shadow: 0 0 1rem black;
          box-shadow: 0 0 1rem black;
}

header,
footer {
  min-height: 12.5vh;
}

.siteHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 50px;
}

fieldset {
  border: none;
}

h1 {
  font-weight: 800;
}

.userSearch {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 75vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchForm {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 100px);
          flex: 1 1 calc(50% - 100px);
  margin-right: 50px;
  -ms-flex-item-align: center;
      align-self: center;
}
.searchForm span {
  font-style: italic;
  font-weight: 700;
}

.trending {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 50px);
          flex: 0 0 calc(50% - 50px);
  margin: 50px 0;
}

.splashPage {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0d253f), color-stop(6%, #01b4e4), color-stop(8%, #90cea1), color-stop(10%, #ffffff), color-stop(95%, #ffffff), color-stop(96%, #90cea1), color-stop(98%, #01b4e4), to(#0d253f));
  background: linear-gradient(180deg, #0d253f 5%, #01b4e4 6%, #90cea1 8%, #ffffff 10%, #ffffff 95%, #90cea1 96%, #01b4e4 98%, #0d253f 100%);
}

section:nth-child(2),
section:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0d253f), color-stop(10%, #01b4e4), color-stop(15%, #90cea1), color-stop(20%, #0d253f), color-stop(80%, #0d253f), color-stop(85%, #90cea1), color-stop(90%, #01b4e4), to(#0d253f));
  background: linear-gradient(180deg, #0d253f 5%, #01b4e4 10%, #90cea1 15%, #0d253f 20%, #0d253f 80%, #90cea1 85%, #01b4e4 90%, #0d253f 100%);
}

.refineGallery {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
.refineGallery .refineContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 15px;
}

.refineContainer button,
.resultGallery button {
  background: #90cea1;
  color: #ffffff;
  border: solid #0d253f 2px;
  font-weight: 800;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}
.refineContainer button button:active,
.resultGallery button button:active {
  background: #01b4e4;
  color: #0d253f;
}

.resultGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.resultGallery .resultContainer {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  max-width: 342px;
  margin: 15px;
}
.resultGallery .resultContainer .resultOverlay,
.resultGallery .resultContainer img {
  border-radius: 15px;
}

.resultOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  color: #ffffff;
  padding: 1rem;
}

.resultContainer:hover .resultOverlay,
.resultContainer:focus-within .resultOverlay {
  opacity: 1;
}

.resultContainer:hover img,
.resultContainer:focus-within img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #0d253f;
}

footer p,
footer a {
  color: #ffffff;
}

@media (max-width: 940px) {
  .searchForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .refineGallery .refineContainer {
    min-width: 300px;
  }

  .resultGallery .resultContainer {
    min-width: 300px;
  }
}